<template>
    <div v-if="!showSpiner">
        <div class="create">
            <form @submit.prevent="createPost">
                <label>Title:</label>
                <input v-model="title" type="text" required>
                <label>Content:</label>
                <textarea v-model="body" required></textarea>
                <label>Tags (hit enter to add a tag)</label>
                <input 
                    v-model="tag" 
                    type="text"
                    @keydown.enter.prevent="handleKeydown"
                >
                <div v-for="tag in tags" :key="tag" class="tag">
                    #{{ tag }}
                </div>
                <button>Add post</button>
            </form>
        </div>
    </div>
    <div v-else>
        <Spiner />
    </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { useRouter } from 'vue-router'
import Spiner from '@/components/Spiner.vue'

export default {
    components: { Spiner },
    setup() {
        const title = ref('')
        const body = ref('')
        const tag = ref('')
        const tags = ref([])
        const showSpiner = ref(false)
        const router = useRouter()

        const handleKeydown = () => {
            if (!tags.value.includes(tag.value)) {
                tag.balue = tag.value.replace('/\s/ ', '') // remove spaces
                tags.value.push(tag.value)
            }
            tag.value = ''
        }

        const createPost = async () => {
            showSpiner.value = true

            let newPostData = {
                title: title.value,
                body: body.value,
                tags: tags.value,
            }
            let data = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify(newPostData)
            }
            let url = 'http://localhost:3000/posts'

            try {
                let res = await fetch(url, data)
                if (!res.ok) {
                    throw Error('error during creating new post')
                }
                router.push({ name: 'Home'})
            }
            catch(err){
                console.log(err.message)
            }

                
        }

        return { title, body, tag, tags, handleKeydown, createPost, showSpiner }
    }
}
</script>

<style>
  form {
    max-width: 480px;
    margin: 0 auto;
    text-align: left;
  }
  input, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #eee;
  }
  textarea {
    height: 160px;
  }
  label {
    display: inline-block;
    margin-top: 30px;
    position: relative;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
  }
  label::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #ff8800;
    position: absolute;
    z-index: -1;
    padding-right: 40px;
    left: -30px;
    transform: rotateZ(-1.5deg);
  }
  button {
    display: block;
    margin-top: 30px;
    background: #ff8800;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 18px
  }
  .pill {
    display: inline-block;
    margin: 10px 10px 0 0;
    color: #444;
    background: #ddd;
    padding: 8px;
    border-radius: 20px;
    font-size: 14px;
  }
</style>