<template>
  <div v-if="error">{{ error }}</div>
  <div v-if="post" class="post">
      <h3>{{ post.title }}</h3>
      <p class="pre">{{ post.body }}</p>
  </div>
  <div v-else>
      <Spiner />
  </div>
</template>

<script>
import { useRoute } from 'vue-router'
import getPost from '@/composables/getPost'
import Spiner from '@/components/Spiner.vue'

export default {
    props: ['id'],
    components: { Spiner },
    setup() {
        const route = useRoute()
        const { post, error, load } = getPost(route.params.id)
        
        load()
        
        return { post, error }
    }
}
</script>

<style scoped>
  .tags a {
    margin-right: 10px;
  }
  .post {
    max-width: 1200px;
    margin: 0 auto;
  }
  .post p {
    color: #444;
    line-height: 1.5em;
    margin-top: 40px;
  }
  .pre {
    white-space: pre-wrap;
  }
</style>