<template>
  <div class="home">
    <h1>Home</h1>
    <div v-if="error">{{ error }}</div>
    <div v-if="posts.length" class="layout">
      <PostList :posts="filteredPostsByTag"/>
      <TagCloud :posts="posts"/>
    </div>
    <div v-else>
      <Spiner />
    </div>
  </div>
</template>

<script>
import { useRoute } from 'vue-router'
import { computed } from '@vue/runtime-core'

import PostList from '@/components/PostList.vue'
import Spiner from '@/components/Spiner.vue'
import TagCloud from '@/components/TagCloud.vue'

import getPosts from '@/composables/getPosts'


export default {
    components: { PostList, Spiner, TagCloud },
    setup() {
        const router = useRoute()
        const { posts, error, load } = getPosts()
        load()
        
        const filteredPostsByTag = computed(() => {
            return posts.value.filter(post => post.tags.includes(router.params.tag))
        })
        return { posts, error, filteredPostsByTag }
    },
}
</script>

<style>

</style>