<template>
  <div class="post-list">
  <div v-for="post in posts" :key="post.id">
      <SinglePost :post="post" />
  </div>
  </div>
</template>

<script>
import SinglePost from '@/components/SinglePost.vue'
import { onMounted, onUnmounted, onUpdated } from '@vue/runtime-core'

export default {
    props: ['posts'],
    components: { SinglePost },
    setup(props) {
        onMounted(() => {
            console.log('components mounted')
        })
        onUnmounted(() => {console.log('unmounted')})
        onUpdated(() => {console.log('updated')})
    }
}
</script>

<style>

</style>